.app-side-nav {
  position: fixed;
  width: 250px;
  left: 0rem;
  height: 681px;
  background-color: #3879b3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
 
.side-nav-content {
  color: rgb(250, 249, 249);
  text-decoration: none;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
 
.nav-list {
  height: 100%;
  padding: 0%;
  margin-bottom: 0%;
}
 
.nav-list-item {
  display: flex;
  align-items: center;
  height: 50px;
  margin-right: 22px;
}
 
.nav-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
 
.nav-list-item i {
  font-size: 20px;
  height: 25px;
  width: 25px;
  margin-right: 15px;
  margin-left: 10px;
  text-align: center;
  line-height: 25px;
}
 
.nav-list-item span {
  width: 150px;
  text-transform: capitalize;
}
 
a {
  text-decoration: none;
  color: white;
}
 
a:hover {
  color: white;
}
 
.log-out {
  margin-top: 280px;
}
.bottom-nav-list {
  position: fixed;
  bottom: 0;
  right: 0%; /* Set to right side */
  width: auto; /* Adjust width as needed */
  padding: 0;
  margin: 0;
  list-style-type: none;
 
}
 
.bottom-nav-list-item {
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: flex-end; /* Align items to the right */
  padding: 8px 16px; /* Adjust padding as needed */
  margin: 0;
  text-align: center;
}
 
.bottom-nav-list-item a {
  color: #343a40; /* Link color */
  text-decoration: none;
}
body {
 
  background-image: url('https://github.com/Guruprasad-suvarna/Tensai/assets/83869639/f43edaf3-71cc-4414-a8ed-d6eb60232f02');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top 50px;

}
